@import 'variables';
///GENERAL
@mixin width-height-value($width,$height) {
  width: $width;
  height: $height;
}

@mixin width-value($width) {
  width: $width;
}

@mixin height-value($height) {
  height: $height;
}

@mixin flex-container($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin position($position-object) {
  position: $position-object;
}

@mixin z-index($z) {
  z-index: $z;
}

@mixin padding-margin($padding, $margin) {
  padding: $padding;
  margin: $margin;
}


//TEXT
@mixin text-styles($font-size, $font-weight, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
  @mixin link-style($txt-decoration, $text-color, $fnt-size, $font-weight) {
    text-decoration: $txt-decoration;
    color: $text-color;
    font-size: $fnt-size;
    font-weight: $font-weight;
  }
  //BUTTON
  @mixin button-style($background-color, $font-size, $border-radius, $padding) {
    background-color: $background-color;
    font-size: $font-size;
    border-radius: $border-radius;
    padding: $padding;
    cursor: pointer;
    border: none;
  }