//GENERAL
$main-color1:#303881;
$main-color2: #F66E0B;
$main-color3: #000;
$text-primary-color: #fff;
$text-color-yellow: #F6B40B;
$font: 'Montserrat', sans-serif;
$hover-color:$main-color2;
$content-width: 1170px;
$box-shadow-color: #282828;

$main-background-blue:#303881;
$main-background-orange:#F66E0B;
$main-background-white: #fff;
$background-color-grey: #B2BCC8;
