@charset "UTF-8";
@media (max-width: 1200px) {
  .reviews-block {
    background-image: url("../../assets/img/gradient.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    z-index: 1;
  }
  .reviews-block .reviews-flex-container {
    width: 100%;
    height: 1000px;
  }
  .reviews-block .reviews-flex-container .title-block .title-reviews-block {
    font-size: 32px;
    font-weight: 700;
    color: #F66E0B;
  }
  .reviews-block .reviews-flex-container .title-block .subtitle-reviews-block {
    font-size: 20px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 8px 0 60px;
  }
}
@media (max-width: 992px) {
  .reviews-block {
    background-image: url("../../assets/img/gradient.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 850px;
    z-index: 1;
  }
  .reviews-block .reviews-flex-container {
    width: 100%;
    height: 800px;
  }
  .reviews-block .reviews-flex-container .bottom-title-reviews-block {
    font-size: 24px;
    font-weight: 700;
    color: #303881;
    text-align: center;
    margin: 10px 0 0 30px;
  }
  .reviews-block .reviews-flex-container .title-block .title-reviews-block {
    font-size: 28px;
    font-weight: 700;
    color: #F66E0B;
  }
  .reviews-block .reviews-flex-container .title-block .subtitle-reviews-block {
    font-size: 15px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 8px 0 40px;
  }
}
@media (max-width: 768px) {
  .reviews-block {
    background-image: url("../../assets/img/gradient.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 730px;
    z-index: 1;
  }
  .reviews-block .reviews-flex-container {
    width: 100%;
    height: 730px;
    justify-content: flex-start;
  }
  .reviews-block .reviews-flex-container .bottom-title-reviews-block {
    font-size: 22px;
    font-weight: 700;
    color: #303881;
    text-align: center;
    margin: 10px 0 0 25px;
  }
  .reviews-block .reviews-flex-container .title-block .title-reviews-block {
    font-size: 22px;
    font-weight: 700;
    color: #F66E0B;
  }
  .reviews-block .reviews-flex-container .title-block .subtitle-reviews-block {
    font-size: 12px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 8px 0 30px;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .back-photo {
    background-image: url("../../assets/img/tel.png");
    background-size: cover;
    background-position: center;
    width: 255px;
    height: 530px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .swiper {
    margin-bottom: 5px;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .swiper .swiper-slide .image-slider {
    height: 470px;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .swiper .swiper-slide img {
    height: 105%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 576px) {
  .reviews-block {
    background-image: url("../../assets/img/gradient.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    z-index: 1;
  }
  .reviews-block .reviews-flex-container {
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
  }
  .reviews-block .reviews-flex-container .bottom-title-reviews-block {
    font-size: 15px;
    font-weight: 700;
    color: #303881;
    text-align: center;
    margin: 10px 0 0 8px;
  }
  .reviews-block .reviews-flex-container .title-block .title-reviews-block {
    font-size: 18px;
    font-weight: 700;
    color: #F66E0B;
  }
  .reviews-block .reviews-flex-container .title-block .subtitle-reviews-block {
    font-size: 10px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 5px 0 20px;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .back-photo {
    background-image: url("../../assets/img/tel.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 410px;
    /* Орієнтовно зменшено на 20-30% */
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .swiper {
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .swiper .swiper-slide {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .swiper .swiper-slide .image-slider {
    border-radius: 20px;
    height: 370px;
    /* Орієнтовно зменшено на 20% */
  }
  .reviews-block .reviews-flex-container .banner-reviews-block .banner-flex-container .swiper .swiper-slide img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .reviews-block .blue-line {
    display: none;
  }
}/*# sourceMappingURL=Review.media.css.map */