  @import "../../scss/common/mixins";
  @import "../../scss/common/reset";
  @import "../../scss/common/variables";



  .about-me-block {
    @include width-height-value(100%, 1500px);
    background-color: #fff;
    padding-bottom: 70px;

    .text-title-about {
      text-align: right;

      .p {

        .hejka {
          font-size: 42px;
          font-weight: 700;
          color: $main-color1;
        }
      }

      .welcome-message {
        font-size: 27px;
        font-weight: 500;
        color: $main-background-blue;

        .span {
          color: $text-color-yellow;
          font-weight: 500;
        }
      }
    }

    .about-me-flex-container {
      background-color: $main-background-white;
      border-radius: 30px;
      @include width-height-value(100%, 1200px);
      @include flex-container(row-reverse, space-between, center);

      .photo-about {
        width: 50%;

        .icon-di {
          width: 100%;
          margin-left: 30px;
        }

        .text-info2 {
          display: none;


        }
      }

      .text-info {
        display: flex;
        flex-direction: column;
        text-align: right;

        width: 40%;



        .facts {
          padding: 0 10px 0;

          text-align: left;
          @include flex-container(column, center, flex-start);
          width: 100%;

          .fact-block-one {
            margin-top: 0;
          }

          .title-facts-blocks {
            @include text-styles(30px, 700, $text-color-yellow);
            font-style: normal;
            line-height: 44px;
            margin: 20px 0 0 15px;
            padding-right: 10px;
            ;
          }

          .fact-block {
            width: 98%;
            border: 5px $text-color-yellow solid;
            border-radius: 40px;
            margin-top: 30px;
            text-align: left;
            padding: 0 10px 0;

            .title-facts-blocks {
              @include text-styles(40px, 700, $text-color-yellow);
              font-style: normal;
              line-height: 44px;
              margin: 20px 0 0 15px;
            }

            .facts-list {

              .facts-item {
                @include text-styles(18px, 700, $main-color1);
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }