body {
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .about-me-block {
    width: 100%;
    height: 1200px;
    background-color: #fff;
    padding-bottom: 0px;
  }
  .about-me-block .text-title-about {
    text-align: right;
  }
  .about-me-block .text-title-about .p {
    margin: 5px 0 5px;
  }
  .about-me-block .text-title-about .p .hejka {
    font-size: 32px;
    font-weight: 700;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message {
    font-size: 19px;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message .span {
    color: #F6B40B;
    font-weight: 500;
  }
  .about-me-block .about-me-flex-container {
    background-color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 970px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about-me-block .about-me-flex-container .photo-about {
    width: 50%;
  }
  .about-me-block .about-me-flex-container .photo-about .icon-di {
    width: 100%;
    margin-left: 20px;
    margin-top: 60px;
  }
  .about-me-block .about-me-flex-container .photo-about .text-info2 {
    display: none;
  }
  .about-me-block .about-me-flex-container .text-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 44%;
  }
  .about-me-block .about-me-flex-container .text-info .facts {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 55px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .title-facts-blocks {
    font-size: 20px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    margin: 50px 0 0 15px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block {
    width: 95%;
    border: 5px #F6B40B solid;
    border-radius: 35px;
    margin-top: 30px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .title-facts-blocks {
    font-size: 30px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    line-height: 44px;
    margin: 15px 0 0 15px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .facts-list .facts-item {
    font-size: 16px;
    font-weight: 700;
    color: #303881;
    line-height: 30px;
  }
}
@media (max-width: 992px) {
  .about-me-block {
    width: 100%;
    height: 870px;
    background-color: #fff;
    padding-bottom: 0px;
  }
  .about-me-block .text-title-about {
    text-align: right;
  }
  .about-me-block .text-title-about .p {
    margin: 5px 0 5px;
  }
  .about-me-block .text-title-about .p .hejka {
    font-size: 26px;
    font-weight: 700;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message {
    font-size: 17px;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message .span {
    color: #F6B40B;
    font-weight: 500;
  }
  .about-me-block .about-me-flex-container {
    background-color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about-me-block .about-me-flex-container .photo-about {
    width: 50%;
  }
  .about-me-block .about-me-flex-container .photo-about .icon-di {
    width: 100%;
    margin-left: 20px;
    margin-top: 60px;
  }
  .about-me-block .about-me-flex-container .photo-about .text-info2 {
    display: none;
  }
  .about-me-block .about-me-flex-container .text-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 44%;
  }
  .about-me-block .about-me-flex-container .text-info .p {
    margin: 0;
  }
  .about-me-block .about-me-flex-container .text-info .p .hejka {
    font-size: 28px;
    font-weight: 700;
    color: #303881;
  }
  .about-me-block .about-me-flex-container .text-info .welcome-message {
    font-size: 15px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 5px 0 0 0;
  }
  .about-me-block .about-me-flex-container .text-info .facts {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 25px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .title-facts-blocks {
    font-size: 22px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    margin: 25px 0 0 15px;
    line-height: 18px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block-one {
    margin-top: 0;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block {
    width: 100%;
    border: 4px #F6B40B solid;
    border-radius: 30px;
    margin-top: 20px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .title-facts-blocks {
    font-size: 24px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    line-height: 25px;
    margin: 15px 0 0 15px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .facts-list .facts-item {
    font-size: 12px;
    font-weight: 700;
    color: #303881;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .about-me-block {
    width: 100%;
    height: 820px;
    background-color: #fff;
    padding-bottom: 0px;
  }
  .about-me-block .text-title-about {
    text-align: right;
  }
  .about-me-block .text-title-about .p {
    margin: 5px 0 5px;
  }
  .about-me-block .text-title-about .p .hejka {
    font-size: 22px;
    font-weight: 700;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message {
    font-size: 12px;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message .span {
    color: #F6B40B;
    font-weight: 500;
  }
  .about-me-block .about-me-flex-container {
    background-color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about-me-block .about-me-flex-container .photo-about {
    width: 48%;
  }
  .about-me-block .about-me-flex-container .photo-about .icon-di {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .about-me-block .about-me-flex-container .text-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
  }
  .about-me-block .about-me-flex-container .text-info .facts {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .about-me-block .about-me-flex-container .text-info .facts .title-facts-blocks {
    font-size: 18px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    line-height: 1px;
    margin: 25px 0 0 15px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block {
    width: 95%;
    border: 3px #F6B40B solid;
    border-radius: 30px;
    margin-top: 15px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .title-facts-blocks {
    font-size: 20px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    line-height: 22px;
    margin: 15px 0 0 15px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .facts-list {
    padding-left: 15px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .facts-list .facts-item {
    font-size: 10px;
    font-weight: 700;
    color: #303881;
    line-height: 17px;
  }
}
@media (max-width: 576px) {
  .about-me-block {
    width: 100%;
    height: 690px;
    background-color: #fff;
    padding-bottom: 0px;
  }
  .about-me-block .text-title-about {
    text-align: right;
    position: relative;
  }
  .about-me-block .text-title-about .p {
    margin: 5px 0 5px;
  }
  .about-me-block .text-title-about .p .hejka {
    font-size: 18px;
    font-weight: 700;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message {
    font-size: 9px;
    position: absolute;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    color: #303881;
  }
  .about-me-block .text-title-about .welcome-message .span {
    color: #F6B40B;
    font-weight: 600;
  }
  .about-me-block .about-me-flex-container {
    background-color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-me-block .about-me-flex-container .photo-about {
    margin-top: -55px;
    position: absolute;
    -webkit-mask-image: linear-gradient(to left, transparent, black 50%);
    mask-image: linear-gradient(to left, transparent, black 30%);
  }
  .about-me-block .about-me-flex-container .photo-about .icon-di {
    margin-left: 0px;
    margin-top: 0px;
  }
  .about-me-block .about-me-flex-container .text-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }
  .about-me-block .about-me-flex-container .text-info .facts {
    margin-top: 480px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .about-me-block .about-me-flex-container .text-info .facts .title-facts-blocks {
    font-size: 14px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    line-height: 12px;
    margin: 50px 0 0 10px;
    padding-right: 0;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block {
    width: 95%;
    border: 2px #F6B40B solid;
    border-radius: 20px;
    margin-top: 8px;
    padding: 7px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .title-facts-blocks {
    font-size: 11px;
    font-weight: 700;
    color: #F6B40B;
    font-style: normal;
    line-height: 12px;
    margin: 2px 0 0 5px;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .facts-list {
    padding: 0 0 0 10px;
    margin: 7px 0;
  }
  .about-me-block .about-me-flex-container .text-info .facts .fact-block .facts-list .facts-item {
    font-size: 8px;
    font-weight: 700;
    color: #303881;
    line-height: 10px;
  }
}/*# sourceMappingURL=About.media.css.map */