@import "../../scss/common/mixins";
@import "../../scss/common/reset";
@import "../../scss/common/variables";

@media (max-width: 1200px) {
  .logo-block1 {
    border-left: 3.5px solid #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;

    .logo-block {
      text-decoration: dotted;
    }

    .logo {
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      font-size: 25px;

    }
  }

  .header {
    height: 70px;

    .header-flex-container {
      height: 70px;

      .menu-list {

        .menu-item {
          margin-right: 18px;
          @include position(relative);

          &:nth-last-child(2) {
            margin-right: 13px;
          }

          &:last-child {
            margin-right: 13px;
          }

          .menu-link {
            @include position(relative);
            @include text-styles(1px, 400, $text-primary-color);
          }
        }


        .menu-link-button {
          font-size: 14px;
          @include button-style($main-background-orange, 15px, 20px, 10px 16px);

        }

      }
    }
  }
}

@media (max-width: 992px) {

  .header {
    height: 55px;

    .header-flex-container {
      height: 55px;

      .logo-block1 {
        border-left: 3.5px solid #fff;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;

        .block {
          text-decoration: dotted;
        }

        .logo {
          color: #fff;
          font-weight: 600;
          text-decoration: none;
          font-size: 20px;

        }
      }

      .menu-list {

        .menu-item {
          margin-right: 18px;
          @include position(relative);

          &:nth-last-child(2) {
            margin-right: 13px;
          }

          &:last-child {
            margin-right: 0;
          }

          .menu-link {
            @include position(relative);
            @include text-styles(14px, 400, $text-primary-color);
          }
        }


        .menu-link-button {
          font-size: 13px;
          @include button-style($main-background-orange, 10px, 20px, 8px 16px);

        }
      }
    }
  }


}

@media (max-width: 768px) {
  .header {
    @include z-index(999);
    @include height-value(50px);
    position: relative;


    & .active {
      box-shadow: none;
    }

    .header-flex-container {
      @include flex-container(row, flex-end, flex-start);
      padding-top: 15px;
      @include height-value(50px);

      .logo-block1 {
        border-left: 3px solid #fff;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 7px;
        margin-bottom: 8px;

        .block {
          text-decoration: dotted;
        }

        .logo {
          color: #fff;
          font-weight: 600;
          text-decoration: none;
          font-size: 18px;
          margin-right: 10px;

        }
      }

      .menu-block {
        display: none;
        background-color: none;
        transition: all 0.5s ease;
        z-index: 1;

        background-color: $main-background-blue;
        padding: 20px 40px;
        border-radius: 0 0 10px 10px;
        opacity: 1;

        &.active {
          transition: all 0.5s ease;
          display: block;
          visibility: visible;
          position: absolute;
          margin-top: 28px;
          width: 25%;
        }

        .menu-list {
          @include flex-container(column, center, center);
          gap: 20px;
          position: relative;

          .menu-item {

            .menu-link {
              @include position(relative);
              @include text-styles(14px, 400, $text-primary-color);
            }



          }

          .menu-link-button {
            display: none;
            font-size: 15px;
            @include button-style($main-background-orange, 15px, 20px, 8px 16px);

          }


        }
      }

      .burger-menu {
        display: block;
        position: relative;
        @include flex-container(row, center, center);
        @include width-height-value(30px, 18px);
        @include button-style($main-background-orange, 21px, 6px, 3px 2px);
        @include z-index(99);
      }

      .menu-burger-block {
        display: block;
        @include position(relative);
        @include width-height-value(12px, 8px);
        @include z-index(4);
        padding: 2px 2px;

        & span {
          @include position(absolute);
          @include width-height-value(100%, 2px);
          background-color: white;
          left: 0;
          top: 5px;
          transition: all 0.3s ease 0s;
        }

        &.active {
          &::before {
            transform: rotate(45deg);
            top: 5px;
          }

          &::after {
            transform: rotate(-45deg);
            bottom: 5px;
          }

          span {
            transform: scale(0);
          }
        }

        &::before,
        &::after {
          content: "";
          background-color: white;
          @include position(absolute);
          @include width-height-value(100%, 2px);
          left: 0;
          transition: all 0.3s ease 0s;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }
  }


}

@media (max-width: 576px) {
  .header {
    @include height-value(35px);

    .header-flex-container {
      @include height-value(35px);
      padding-top: 0;
      align-items: center;

      .logo-block1 {
        border-left: 2px solid #fff;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        margin-bottom: 0;

        .block {

          text-decoration: dotted;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .logo {
          color: #fff;
          font-weight: 600;
          text-decoration: none;
          font-size: 15px;

        }
      }

      .burger-menu {
        display: block;
        position: relative;
        @include flex-container(row, center, center);
        @include width-height-value(25px, 16px);
        @include button-style($main-background-orange, 21px, 6px, 3px 2px);
        @include z-index(99);
      }

      .menu-block {
        &.active {
          transition: all 0.5s ease;
          display: block;
          visibility: visible;
          position: absolute;
          margin-top: 290px;
        }

        .menu-list {

          .menu-item {
            margin: 15px 0 0 0;

            .menu-link {
              @include position(relative);
              @include text-styles(10px, 400, $text-primary-color);
            }
          }
          .menu-link-button {
            font-size: 11px;
            @include button-style($main-background-orange, 11px, 20px, 8px 16px);
          }
        }
      }
    }
  }
}