body {
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .statistics-block {
    width: 100%;
    height: 400px;
  }
  .statistics-block .statistics-flex-container {
    width: 100%;
    height: 400px;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .vertical-line {
    height: 190px;
    width: 4px;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .title-statistics {
    font-size: 32px;
    line-height: 40px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics {
    border-radius: 40px;
    width: 680px;
    height: 130px;
    margin-left: 40px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text {
    margin-top: 30px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-number-item {
    font-size: 35px;
    font-weight: 700;
    color: #303881;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-text-item {
    font-size: 18px;
    font-weight: 700;
    color: #303881;
    line-height: 18px;
  }
  .statistics-block .statistics-flex-container .colors-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-one {
    width: 115px;
    height: 40px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-two {
    width: 112px;
    height: 40px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-three {
    width: 112px;
    height: 40px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-four {
    width: 112px;
    height: 40px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-fifth {
    width: 112px;
    height: 40px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-six {
    width: 115px;
    height: 40px;
  }
}
@media (max-width: 992px) {
  .statistics-block {
    width: 100%;
    height: 320px;
  }
  .statistics-block .statistics-flex-container {
    width: 100%;
    height: 280px;
    margin-top: 40px;
  }
  .statistics-block .statistics-flex-container .title-statistics-block {
    width: 25%;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .vertical-line {
    height: 150px;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .title-statistics {
    font-size: 26px;
    line-height: 35px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics {
    border-radius: 30px;
    width: 450px;
    height: 110px;
    margin-left: 40px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text {
    padding: 0 10px 0 10px;
    margin-top: 24px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-number-item {
    font-size: 26px;
    font-weight: 700;
    color: #303881;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-text-item {
    font-size: 14px;
    font-weight: 700;
    color: #303881;
    line-height: 16px;
  }
  .statistics-block .statistics-flex-container .colors-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-one {
    width: 80px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-two {
    width: 75px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-three {
    width: 70px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-four {
    width: 70px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-fifth {
    width: 75px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-six {
    width: 80px;
    height: 25px;
  }
}
@media (max-width: 768px) {
  .statistics-block {
    width: 100%;
    height: 330px;
  }
  .statistics-block .statistics-flex-container {
    width: 100%;
    height: 300px;
    padding-top: 30px;
  }
  .statistics-block .statistics-flex-container .title-statistics-block {
    width: 30%;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .vertical-line {
    height: 130px;
    width: 4px;
    margin-right: 15px;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .title-statistics {
    font-size: 22px;
    line-height: 30px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics {
    border-radius: 30px;
    width: 330px;
    height: 100px;
    margin-left: 4px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text {
    margin-top: 24px;
    padding: 0 0 0 5px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-number-item {
    font-size: 22px;
    font-weight: 700;
    color: #303881;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-text-item {
    font-size: 10px;
    font-weight: 700;
    color: #303881;
    line-height: 12px;
  }
  .statistics-block .statistics-flex-container .colors-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-one {
    width: 60px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-two {
    width: 55px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-three {
    width: 50px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-four {
    width: 50px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-fifth {
    width: 55px;
    height: 25px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-six {
    width: 60px;
    height: 25px;
  }
}
@media (max-width: 576px) {
  .statistics-block {
    width: 100%;
    height: 340px;
  }
  .statistics-block .statistics-flex-container {
    width: 100%;
    height: 300px;
    padding-top: 0px;
  }
  .statistics-block .statistics-flex-container .statistics-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
  }
  .statistics-block .statistics-flex-container .statistics-item2 {
    width: 50px;
    display: flex;
    align-items: flex-end;
    width: 50px;
  }
  .statistics-block .statistics-flex-container .statistics-item4 {
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .statistics-block .statistics-flex-container .statistics-item3 {
    width: 50px;
    display: flex;
    align-items: flex-end;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .vertical-line {
    height: 85px;
    width: 4px;
    margin: 0 8px;
  }
  .statistics-block .statistics-flex-container .title-statistics-block .title-statistics {
    font-size: 16px;
    line-height: 20px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics {
    border-radius: 15px;
    width: 160px;
    height: 130px;
    margin-left: 0;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text {
    margin-top: 15px;
    padding: 0 5px 0 5px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-number-item {
    font-size: 20px;
    font-weight: 700;
    color: #303881;
    padding: 5px 5px 0;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .statistics-list-text-item {
    font-size: 7px;
    font-weight: 700;
    color: #303881;
    line-height: 8px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .text-left {
    text-align: left;
    padding-left: 5px;
  }
  .statistics-block .statistics-flex-container .right-statistics-block .statistics .statistics-list-text .text-right {
    text-align: right;
    padding-right: 6px;
  }
  .statistics-block .statistics-flex-container .colors-blocks {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-one {
    width: 30px;
    height: 10px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-two {
    width: 28px;
    height: 10px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-three {
    width: 25px;
    height: 10px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-four {
    width: 25px;
    height: 10px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-fifth {
    width: 25px;
    height: 10px;
  }
  .statistics-block .statistics-flex-container .colors-blocks .color-block-six {
    width: 25px;
    height: 10px;
  }
}/*# sourceMappingURL=Statistics.media.css.map */