@import "../../scss/common/mixins";
@import "../../scss/common/variables";
@import "../../scss/common/reset";

.google-maps{
    margin-bottom:-10px;
}

.dev-block {
    @include width-height-value(100%, 15px);
    background: #222;        padding-bottom: 7px;


    .dev-flex-container {
        @include width-height-value(100%, 18px);
        padding-bottom: 10px;
        @include flex-container(row, space-between, baseline);

        .name-dev {
            @include text-styles(6px, 400, #B6C1CE);
            line-height: 7px;
        }

        .link-dev {
            @include text-styles(6px, 400, #B6C1CE);
            line-height: 7px;
            text-decoration: none;

        }
    }
}
.footer {
    @include width-height-value(100%, 170px);
    background-color: $main-background-blue;

    .footer-content {
        @include width-height-value(100%, 170px);
        @include flex-container(row, space-between, center);
        .logo-block1{
            border-left: 3.5px solid #fff;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10px;
            margin-bottom: 15px;
            .logo-block
            {text-decoration:dotted;}
            .logo{
              color: #fff;
              font-weight: 600;
              text-decoration: none;
              
            }
          }
        .logo-socnetwork {
            @include flex-container(column, flex-start, flex-start);

            .socnetworks-link {
                @include flex-container(row, space-between, flex-start);
                width: 45%;

                .telegram-link {
                    background-color: $main-background-white;
                    @include width-height-value(29px, 25px);
                    border-radius: 2px;
                    
                }
                .tik-link{
                    @include width-height-value(34px, 32px);
                    border-radius: 2px;
                }
            }
        }

        .menu-block {
            .menu-list-footer {
                @include flex-container(row, space-between, center);
                list-style: none;
                @extend %reset-margin-padding;
              
                .menu-item {
                    margin-right: 38px;
                    @include position(relative);

                    &:nth-last-child(2) {
                        margin-right: 26px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .menu-link {
                        @include position(relative);
                        @include text-styles(20px, 400, $text-primary-color);

                        text-decoration: none;

                        &:hover {
                            color: $hover-color;
                            transition: color 0.3s ease;
                        }
                    }
                }
            }
        }
    }

}

