@media (max-width: 1200px) {
  .price-section {
    width: 100%;
    height: 750px;
  }
  .price-section .price-flex-container {
    width: 100%;
    height: 100%;
  }
  .price-section .price-flex-container .title-price-section {
    font-size: 45px;
    font-weight: 700;
    color: #F66E0B;
    margin-bottom: 5px;
  }
  .price-section .price-flex-container .subtitle-price-section {
    font-size: 26px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 2px 0 70px;
  }
  .price-section .price-flex-container .price-blocks-container {
    padding: 0 10px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block {
    width: 300px;
    height: 400px;
    border-radius: 60px;
    background: #303881;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .title-price-block {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin: 50px 0 30px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .icon-price-block {
    width: 100px;
    height: 86px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 90px;
    font-size: 32px;
    font-weight: 500;
    color: #000;
    border-radius: 60px;
    background: #D9D9D9;
    margin: 0;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .description-price {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 70px;
  }
}
@media (max-width: 992px) {
  .price-section {
    width: 100%;
    height: 550px;
  }
  .price-section .price-flex-container {
    width: 100%;
    height: 100%;
  }
  .price-section .price-flex-container .title-price-section {
    font-size: 36px;
    font-weight: 700;
    color: #F66E0B;
    margin: 55px 0 0;
  }
  .price-section .price-flex-container .subtitle-price-section {
    font-size: 22px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 2px 0 50px;
  }
  .price-section .price-flex-container .price-blocks-container {
    padding: 0 10px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block {
    width: 230px;
    height: 300px;
    border-radius: 40px;
    background: #303881;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .title-price-block {
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    margin: 50px 0 30px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .icon-price-block {
    width: 80px;
    height: 70px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 80px;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    border-radius: 60px;
    background: #D9D9D9;
    margin: 0;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .description-price {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .price-section {
    width: 100%;
    height: 380px;
  }
  .price-section .price-flex-container {
    width: 100%;
    height: 100%;
  }
  .price-section .price-flex-container .title-price-section {
    font-size: 28px;
    font-weight: 700;
    color: #F66E0B;
    margin: 50px 0 0;
  }
  .price-section .price-flex-container .subtitle-price-section {
    font-size: 14px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 2px 0 40px;
  }
  .price-section .price-flex-container .price-blocks-container {
    padding: 0 10px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block {
    width: 160px;
    height: 200px;
    border-radius: 30px;
    background: #303881;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .title-price-block {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 30px 0 20px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .icon-price-block {
    width: 60px;
    height: 50px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .price {
    width: 110px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border-radius: 60px;
    background: #D9D9D9;
    margin: 0;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .description-price {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .price-section {
    width: 100%;
    height: 170px;
  }
  .price-section .price-flex-container {
    width: 100%;
    height: 100%;
  }
  .price-section .price-flex-container .title-price-section {
    font-size: 18px;
    font-weight: 700;
    color: #F66E0B;
    margin: 30px 0 0;
  }
  .price-section .price-flex-container .subtitle-price-section {
    font-size: 10px;
    font-weight: 300;
    color: #2F2F2F;
    margin: 2px 0 20px;
  }
  .price-section .price-flex-container .price-blocks-container {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .price-section .price-flex-container .price-blocks-container .price-block {
    width: 80px;
    height: 90px;
    border-radius: 15px;
    margin-bottom: 5px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .title-price-block {
    font-size: 8px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0 5px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .icon-price-block {
    width: 20px;
    height: 20px;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .price {
    width: 50px;
    height: 15px;
    font-size: 7px;
    font-weight: 500;
    color: #000;
    border-radius: 60px;
    background: #D9D9D9;
    margin: 0;
  }
  .price-section .price-flex-container .price-blocks-container .price-block .description-price {
    font-size: 6px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
  }
}/*# sourceMappingURL=Prices.media.css.map */