@import "../../scss/common/mixins";

.price-section {
  @include width-height-value(100%, 800px);

  .price-flex-container {
    @include flex-container(column, flex-start, stretch);
    @include width-height-value(100%, 100%);

    .sm {
      display: none;
    }

    .icons-price {
      @include flex-container(row, center, center);
    }

    .title-price-section {
      @include text-styles(42px, 700, $main-color2);
      margin: 80px 0 5px;
      text-align: left;
      padding-bottom: 50px;
    }

    .subtitle-price-section {
      @include text-styles(22px, 300, #2F2F2F);
      text-align: left;
      margin: 2px 0 80px;
    }

    .price-blocks-container {
      @include flex-container(row, space-between, center);

      .price-block {
        @include flex-container(column, center, center);
        @include width-height-value(365px, 440px);
        border-radius: 60px;
        background: $main-background-blue;

        .title-price-block {
          @include text-styles(33px, 500, $text-primary-color);
        }

        .icon-price-block {
          @include width-height-value(100px, 86px);

        }

        .price {
          @include flex-container(column, center, center);
          @include width-height-value(240px, 90px);
          @include text-styles(32px, 400, $main-color3);
          border-radius: 60px;
          background: #ffffff;
          margin: 0;
        }

        .description-price {
          @include text-styles(24px, 400, $text-primary-color);
          margin-top: 80px;
        }
      }
    }
  }
}